<style>
  .bar{
    width: 150px;
    height: 100%;
    position: fixed;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/04/51/59/92585e8c55881fe.jpg");
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .bar_info{
    margin: 10% auto 10% auto;
    width: 80%;
    height: 10%;
    background-color: #00853E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
  }

  .bar_info:hover{
    color: #98fb98;
  }

  .body{
    width:100% - 150px;
    margin-left: 150px;
  }

  h1{
  display:flex;
  justify-content:center;
  color: #00853E;
  }

  a{
    color: inherit;
    text-decoration: none;
  }

  a:hover{
    color: #98fb98;
  }

</style>

<main>
  <!-- This is the bar information that will allow user to shortcut to info -->
    <div class="bar">
      <div class="bar_info">
        <a href="JaredWestmoreland.html">Profile</a>
      </div>
      <div class="bar_info">
        <a href="Summary.html">Summary</a>
      </div>
      <div class="bar_info">
        <a href="Education.html">Education</a>
      </div>
      <div class="bar_info">
        <a href="Technical.html">Technical Skills</a>
      </div>
      <div class="bar_info">
        <a href="Projects.html">Projects</a>
      </div>
      <div class="bar_info">
        <a href="Experience.html">Job Experience</a>
      </div>
      <div class="bar_info">
        <a href="Relevent.html">Relevent Courses</a>
      </div>
    </div>

    <div class="body">
      <h1>Job Experience</h1>
    	<hr>
    	<p>
    	<strong>Title: Stable Stock | 6/2018 to current<br/>
    	Employeer: Walmart Distribution | Sanger, Texas<br/>
    	Description:</strong> I operate a forklift to move boxes in a certain
    	quantity to accommodate Walmart's back-up inventory.<br/>
      </p>
      <p>
      <strong>Title: Teller | 12/2015 to 03/2016<br/>
    	Employeer: NorthStar Bank | Pilot Point, Texas<br/>
    	Description:</strong> Responsible for providing a variety of paying and receiving functions, including processing deposits, withdrawals, loan payments, Cashier’s checks, money orders and cash advances.  Balances each day’s transactions and verified cash totals and other assigned. Maintained confidentiality of the bank records and client information.
    	Managed closing for the branch.  Delivered prompt, accurate and excellent customer service. <br/>
      </p>
      <p>
      <strong>Title: Sandwich Artist | 06/2015 to 12/2015<br/>
    	Employeer: Subway | Cross Roads, Texas<br/>
    	Description:</strong> Greets and serves guests, prepares food neatly, according to formula, and in a timely manner, and handles or processes light paperwork.  Understood and adhered to proper food handling, safety and sanitation standards during food preparation, service and clean up.   <br/>
    	</p>
      <p>
      <strong>Title: Stocker | 07/2013 to 09/2013<br/>
    	Employeer: Walmart | Little Elm, Texas<br/>
    	Description:</strong> Receiving, unloading and stocked general merchandise, grocery consumables.   <br/>
    	</p>
    </div>

</main>
