<style>
  .bar{
    width: 150px;
    height: 100%;
    position: fixed;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/04/51/59/92585e8c55881fe.jpg");
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }


  .bar_info{
    margin: 10% auto 10% auto;
    width: 80%;
    height: 10%;
    background-color: #00853E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
  }

  .bar_info:hover{
    color: #98fb98;
  }

  .body{
    width:100% - 150px;
    margin-left: 150px;
  }

  .face{
    width: 250px;
    display:block;
    margin: 0 auto 0 auto;
		border-radius: 50%;
    border: 4px solid #00853E;
  }

  .face:hover .hovertext{
    visibility: visible;
  }

  .hovertext{
    color: #00853E;
  }

  .links{
    display:flex;
    flex-direction: row;
    justify-content: center;
  }
  .facebook{
		margin: 9px;
		width: 50px;
	}
	.linkedin{
		margin: 2px ;
		width: 67px;
	}
	.instagram{
		margin: 9px 1px 0px 8px;
		width: 53px;
	}
  .email{
    margin: 7px 1px 0px 14px;
    width: 56px;
  }
  .phone{
    margin: 10px 0px 0px 16px;
		width: 50px;
  }

  h1{
    display:flex;
    justify-content:center;
    color: #00853E;
  }

  a{
    color: inherit;
    text-decoration: none;
  }

  a:hover{
    color: #98fb98;
  }

</style>

<main>
  <!-- This is the bar information that will allow user to shortcut to info -->
    <div class="bar">
      <div class="bar_info">
        <a href="JaredWestmoreland.html">Profile</a>
      </div>
      <div class="bar_info">
        <a href="Summary.html">Summary</a>
      </div>
      <div class="bar_info">
        <a href="Education.html">Education</a>
      </div>
      <div class="bar_info">
        <a href="Technical.html">Technical Skills</a>
      </div>
      <div class="bar_info">
        <a href="Projects.html">Projects</a>
      </div>
      <div class="bar_info">
        <a href="Experience.html">Job Experience</a>
      </div>
      <div class="bar_info">
        <a href="Relevent.html">Relevent Courses</a>
      </div>
    </div>

    <div class="body">
      <div>
          <img class="face" title="Hello" src="https://bit.ly/2A7iA2f">
      </div>
      <div class="links">
        <a href="http://bit.ly/2SYvmHd" target="_blank">
        <img class="facebook" title="Facebook HyperLink" src="https://bit.ly/2C3RKut">
        </a>

        <a href="https://bit.ly/2T0Ez1z" target="_blank">
        <img class="linkedin" title="Linkedin HyperLink" src="https://bit.ly/2Eveggd">
        </a>

        <a href="https://bit.ly/2CpP1uf" target="_blank">
        <img class="instagram" title="Instagram HyperLink" src="https://bit.ly/2EyWZ5I">
        </a>

        <a href="mailto: jaredwestmoreland@my.unt.edu">
        <img class="email" title="Email: jaredwestmoreland@my.unt.edu" src="http://bit.ly/2EwdSxX">
        </a>

        <a href="tel:+9404354254">
        <img class="phone" title="Personal: (940)435-4254" src="http://bit.ly/2LsCtFn">
        </a>
      </div>
      <hr>

      <div>
        <h1> Jared Westmoreland </h1>
          <p>
            Hello, this is not a professional summary, but it will allow you to get a better
            insight of who I am. My favorite things to do are challenging myself mentally and
            physically. I am not very unique or talented at anything, but things I do pride
            myself from are being a gentleman, my art skills, being able to run marathons,
            programming, hardware design, being persistent, and loving a challenge.
          </p>

          <a href="http://bit.ly/2A8uRDv"><p style="width:150px; height: 30px;" class="bar_info">Resume</p></a>

        <hr>

        <h1> Marathons </h1>
          <p>
            I'm not very good, but I strive to be faster and stronger, but here is some interesting
            stuff about the Marathons I have completed so far
              <ul>
                <a href="http://bit.ly/2PRgFDK" title="Cough* This is a judgement free zone" target="_blank"><li>All of my times date/time/pace/location</li></a>
                <a href="http://bit.ly/2QILvUm" title="Warning, TMI information" target="_blank"><li>Everything above, but also including how I felt during them</li></a>
                <a href="http://bit.ly/2Rc3MJ6" title="Weird flex, but okay"target="_blank"><li>My current medals</li></a>
              </ul>
          </p>

        <h1> Other stuff (to be continued) </h1>
      </div>
    </div>


</main>
