<style>
  .bar{
    width: 150px;
    height: 100%;
    position: fixed;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/04/51/59/92585e8c55881fe.jpg");
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .bar_info{
    margin: 10% auto 10% auto;
    width: 80%;
    height: 10%;
    background-color: #00853E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
  }

  .bar_info:hover{
    color: #98fb98;
  }

  .body{
    width:100% - 150px;
    margin-left: 150px;
  }

  h1{
    display:flex;
    justify-content:center;
    color: #00853E;
  }

  a{
    color: inherit;
    text-decoration: none;
  }

  a:hover{
    color: #98fb98;
  }
</style>

<main>
  <div class="bar">
    <div class="bar_info">
      <a href="JaredWestmoreland.html">Profile</a>
    </div>
    <div class="bar_info">
      <a href="Summary.html">Summary</a>
    </div>
    <div class="bar_info">
      <a href="Education.html">Education</a>
    </div>
    <div class="bar_info">
      <a href="Technical.html">Technical Skills</a>
    </div>
    <div class="bar_info">
      <a href="Projects.html">Projects</a>
    </div>
    <div class="bar_info">
      <a href="Experience.html">Job Experience</a>
    </div>
    <div class="bar_info">
      <a href="Relevent.html">Relevent Courses</a>
    </div>
  </div>

  <div class="body">
    <h1>Summary</h1>
  <hr>
  	<p>
      I focus on precision, accuracy, and efficiency.
    	Upon meeting my employer's goals, I strive
      complete my personal goals, such as preformance
      or user friendliness. I find enjoyment completing
      and harmonizing with teammates. Within group
      discussions, I try to provide unique and creative
      solutions for success.
    </p>

    <p>
      I have been told by several coworkers that I am very persistent. I do not internally glorify
      myself so that made me overjoyed.
    </p>
    <p>
      (At Walmart Distribution I ask for the most difficult trailers to unload)
    </p>

  </div>

</main>
