<style>
  .bar{
    width: 150px;
    height: 100%;
    position: fixed;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_pic/04/51/59/92585e8c55881fe.jpg");
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .bar_info{
    margin: 10% auto 10% auto;
    width: 80%;
    height: 10%;
    background-color: #00853E;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    font-weight: bold;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
  }

  .bar_info:hover{
    color: #98fb98;
  }

  .body{
    width:100% - 150px;
    margin-left: 150px;
  }

  h1{
  display:flex;
  justify-content:center;
  color: #00853E;
  }

  a{
    color: inherit;
    text-decoration: none;
  }

  a:hover{
    color: #98fb98;
  }

</style>

<main>
  <!-- This is the bar information that will allow user to shortcut to info -->
    <div class="bar">
      <div class="bar_info">
        <a href="JaredWestmoreland.html">Profile</a>
      </div>
      <div class="bar_info">
        <a href="Summary.html">Summary</a>
      </div>
      <div class="bar_info">
        <a href="Education.html">Education</a>
      </div>
      <div class="bar_info">
        <a href="Technical.html">Technical Skills</a>
      </div>
      <div class="bar_info">
        <a href="Projects.html">Projects</a>
      </div>
      <div class="bar_info">
        <a href="Experience.html">Job Experience</a>
      </div>
      <div class="bar_info">
        <a href="Relevent.html">Relevent Courses</a>
      </div>
    </div>

    <div class="body">
      <h1>Technical Skills</h1>
    	<hr>
    	<p>
      	<strong>Programming Languages:</strong> C++, C, VHDL, ARMv8 assembly, Javascript, Python, Node.js, Arduino
      </p>
      <p>
      	<strong>Software:</strong> MATLAB, Microsoft Office programs, NI Multisim, Xilinx, Quartus II, Energia, Linux
      </p>
      <p>
      	<strong>Hardware:</strong> Breadboard Circuit Design, TI MSP432 Launchpad, Altera FPGA, Raspberry pi compute module 3
      </p>
    </div>

</main>
